{% extends "employee_register/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    {{form.fullname|as_crispy_field}}
    {{form.mobile|as_crispy_field}}
    <div class="row">
        <div class="col-md-4">
            {{form.empcode|as_crispy_field}}
        </div>
        <div class="col-md-4">
            {{form.position|as_crispy_field}}
        </div>
    </div>
    <button type="submit">Submit</button>
    <a href="{% url 'employee_list' %}">
        Back to list
    </a>

</form>
{% endblock content %}